/* Side bar */
.sideContainer{
    position: fixed;
    right:0;
    width:300px;
    background-color: white;
    border-left: 1px solid #ccc;
    height: 100%;
    overflow-y: scroll;
}

.sideTitle{
    text-align: center;
    margin: 20px 0;
}

.messageInfo{
    display: flex;
    text-align: left;
    align-items: center;
    font-size: 14px;
    padding: 10px 10px;
    transition: .3s;
    margin-left: 10px;
}

.messageInfo:hover{
    background-color: rgba(0, 0, 0, 0.03);
    transition: .3s;
    cursor: pointer;
}

.readNotificationCircle{
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    position: absolute ;
    right: 20px;
}

.messageImage{
    background-size: 40px 40px;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.messagePartnerName{
    font-weight: 700;
    margin-bottom: 5px;
}
.lastChat{
    font-size: 0.8em;
}

/* Message Box */
.chatting{
    margin: 0 auto;
    display: grid;
    grid-template-rows: 5% 85% 10%;
    width: 80%;
}

.partnerWrap{
    position: fixed;
    width:50%;
    height:70px;
    top: 0;
    background: rgb(245, 245, 245);
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    z-index:2;
}


.partnerImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 20px 5px;
    cursor: pointer;
}

.sendWrap{
    position: fixed;
    bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: white;
    padding: 3px 2px;
    display: grid;
    grid-template-columns: 90% 10%;
    margin: 0 auto;
    width: 50%;
    height:50px
}

.sendInput{
    border: none;
    padding: 10px 0 10px 10px;
    font-size : 15px;
}

.sendButton{
    background: none;
    border: none;
    color: blue;
    font-weight: 700;
    padding-right: 8px;
}

/* ChatRoom */
.chatRoom{
    margin: 90px 0 70px 0;
    z-index: -1;
    position: static;
}

.messageWrap{
    width: 100%;
    display: inline-block;

}

.message{
    background-color: white;
    border: 1px solid #eee;
    padding: 12px 15px;
    margin: 12px 20px;
    border-radius: 20px;
}

.myMsg{
    background-color: #ccc;
    float: right;
}

.partnerMsg{
    background-color: white;
}

.newMessage{
    width: 100%;
    display: flex;
}

.myNewMsg{
    justify-content: end
}