h2{
    margin-bottom: 20px;
}
.messageUserInfo{
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 8px 0 20px 20px;
    
}
.messageUserImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-image: url("../../../images/6.jpg");
    background-size: cover;
    margin-right: 12px;
}
.messageUserImage2{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-image: url("../../../images/4.jpg");
    background-size: cover;
    margin-right: 12px;
}

.testBtn{
    width: 90%;
    height: 40px;
    margin: 0 auto;
    margin-top: 740px;
    /* test button  */
    background-color: rgb(255, 205, 95);
    border: 0; 
} 