.editFooter {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  color: rgb(115, 115, 115);
  font-size: 12px;
  margin-right: 30px;
  font-weight: 500;
}
.footerwrap {
  margin-top: 30px;
  margin-left: 90px;
}

.editFooter ul {
  display: flex;
}

.editFooter ul li {
  margin-right: 40px;
}

.editFooter p {
  margin-left: 300px;
  margin-top: 15px;
}

@media (max-width: 1500px) {
  .footerwrap {
    margin-left: 50px;
  }
  .editFooter ul li {
    margin-right: 30px;
  }
  .editFooter p {
    margin-left: 270px;
  }
}
