.editContainer {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.editAccountWrap {
  width: 950px;
  margin-left: 250px;
}
.editAccountBox {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 0 150px;
  font-weight: 500;
}
.editRow {
  display: flex;
  margin: 50px 0;
  align-items: center;
}
#rowTop {
  display: flex;
  padding-left: 58px;
}

#edPhBtn {
  width: 60px;
  height: 60px;
  margin-left: 10px;
  border-radius: 50%;
  overflow: hidden;
  /* background-image: url("../../images/2.jpg"); */
  background-size: cover;
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.editPhotoBtn img {
  width: 62px;
  height: 62px;
  position: relative;
  bottom: 7px;
}

.editRow .right {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.editRow .right h1 {
  font-size: 18px;
  margin-bottom: 5px;
}
#profileChnBtn {
  background-color: rgb(246, 246, 246);
  font-size: 16px;
  color: rgb(251, 196, 77);
  font-weight: bold;
}
.editRow label {
  display: inline-block;
  width: 120px;
  text-align: right;
  margin-right: 20px;
}

.editRow input {
  width: 350px;
  height: 35px;
  border: 1px solid rgb(186, 185, 185);
  border-radius: 3px;
  padding: 10px;
  font-size: 16px;
}

#editRowEmail {
  margin-bottom: 0px;
}

#editEmailCheck {
  margin-top: 10px;
}

#editEmailCheck button,
#editSubmit button {
  background-color: rgb(255, 205, 95);
  font-size: 15px;
  padding: 6px 12px;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
}

#rowIntroduce {
  align-items: start;
}

#rowIntroduce p {
  font-size: 14px;
}

.editRow textarea {
  width: 350px;
  height: 80px;
  resize: none;
  font-size: 15px;
}
