@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap");

body {
  font-family: "Gothic A1", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logContainer {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #e1f5fe;
  /* background-color: #FFF9C4; */
  /* background-color: rgb(245, 245, 245); */
}

.logContainer a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.mainBox {
  display: flex;
}

.logoBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoBox .logo {
  width: 480px;
  margin-right: 150px;
  margin-bottom: 100px;
}

.logo img {
  width: 100%;
}

.login {
  border: 1px solid none;
  background-color: white;
  border-collapse: collapse;
  border-radius: 20px;
  width: 400px;
  height: 430px;
  padding: 30px;
}

.loginfont {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 15px;
}

.logInput {
  width: 300px;
  margin-bottom: 20px;
  margin-left: 20px;
  height: 40px;
  border: 1px solid rgb(213, 211, 211);
  border-radius: 5px;
  padding: 10px;
}

#email:focus,
#pw:focus {
  outline: 1px solid black;
}

#logBtn {
  background-color: rgb(255, 205, 95);
  border: 1px solid none;
  border-style: none;
  font-size: 17px;
  cursor: pointer;
}

.findPw {
  margin-left: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.mvReg {
  margin-left: 20px;
  margin-top: 35px;
  cursor: pointer;
}

.mvReg a:hover,
.findPw a:hover {
  color: #f9a825;
}
