.postBox{
    width: 85%;
    margin: 20px auto;
    padding: 24px 10px;
    background-color: white;
    border: 1px solid #ddd;
}
.userInfo{
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-left: 20px;
}

.userImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    margin-right: 12px;
}
.userImage img{
    width: 40px;
    height: 40px;
}
.post{
    display: grid;
    grid-template-columns: 1fr 12fr 1fr;
    align-items: center;
}
.postImageBox{
    /* margin: 5px auto; */
    height: 400px;
    margin: 10px 0px;
    background-size: cover;
}

.postImage{
 width: 100%;
 height: 100%;
}

.imageButton{
    width: 35px;
    height: 80px;
    margin: 0 5px;
    background-color: white;
}
.postReaction{
    text-align: left;
}
.postReaction button{
    padding: 2px 4px;
    margin-right: 8px;
    border: none;
    background-color: white;
}
.postReaction button img{
    width: 30px;
}
.likeCount{
    margin-top: 12px;
    text-align: left;
    font-size: 14px;
}
.postContent{
    margin-top: 20px;
}