@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
    cursor: pointer;
}
a, button{
    cursor: pointer;
}
a{
    color: black;
    text-decoration: none;
}
input, button{
    outline: none;
}
body{
    background-color: rgb(245, 245, 245);
    font-family: 'Gothic A1', sans-serif;
}
/* reset end */

.navbar, .main, .side{
    text-align: center;
    height: 100vh;
    /* height: 100%; */
}
.navbar{
    border-right: 1px solid #ccc;
    background-color: white;
    padding: 30px 0;
}
/* .main{
    margin: 0px 270px 0 300px;
} */
.side{
    border-left: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 30px 0;
}