.regContainer {
  font-family: "Gothic A1", sans-serif;
  font-weight: 600;
  display: flex;
  width: 100vw;
  /* height: 100vh; */
  justify-content: center;
  align-items: center;
  background-color: #e1f5fe;
  overflow: auto;
}

.regContainer .mainBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.regContainer .logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 20px;
}

.regContainer .logo img {
  width: 280px;
}
.regBox {
  height: 100%;
}

.register {
  border: 1px solid none;
  background-color: white;
  border-radius: 20px;
  width: 500px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  margin-bottom: 100px;
}

.regInput {
  font-weight: 600;
  width: 380px;
  height: 48px;
  border: 1px solid rgb(214, 212, 212);
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
}

.regRowWrap {
  margin-bottom: 20px;
}

.regBox .nameWrap {
  margin-top: 40px;
}

.regInput:focus {
  outline: 1px solid black;
}

#emailWrap {
  display: flex;
  width: 380px;
  flex-wrap: wrap;
}

#regEmail {
  width: 275px;
  margin-bottom: 10px;
}

#certification {
  width: 100px;
  padding: 0;
  margin-left: 5px;
  background-color: rgb(255, 205, 95);
  border: 1px solid transparent;
  cursor: pointer;
  margin-bottom: 10px;
}

#certification:focus,
#regBtn:focus {
  outline: none;
}

#regBtn {
  background-color: rgb(255, 205, 95);
  border: 1px solid none;
  border-style: none;
  font-size: 17px;
  cursor: pointer;
}

.regContainer a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}
.mvLog {
  text-align: center;
  margin-top: 20px;
}

.regContainer p {
  font-size: 14px;
  margin-top: 5px;
  color: tomato;
}
.emailMsg {
  margin-top: 0;
}
.emailCheck {
}
/* 노트북 기준 */
@media (max-width: 1800px) {
  .register {
    height: 670px;
    /* margin-top: 100px; */
  }
  .regBox .nameWrap {
    margin-top: 20px;
  }
  .regContainer .logo {
    margin-top: 100px;
    padding: 20px;
  }
}
